* {
    margin: 0;
    padding: 0;
}

html,
body,
body>div,
body>div>div {
    height: 100%;
}

body>div>div {
    overflow: auto;
}

body {
    text-align: center;
    font-size:0.14rem;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}